*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
vendor/bundle
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
build-ImageMagick/
